body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F0FFF0;
    color: #8B4513;
    margin: 0;


}

html {
    scroll-behavior: smooth;
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    box-shadow: #555 0px 0px 10px 2px;
    border-radius: 22.5px;

}

.profile-header {
    text-align: center;
    margin-bottom: 50px;

}

.profile-header h1 {
    font-size: 2.8em;
    margin-top: 50px;

}

.profile-image {
    width: 300px;
    height: 300px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid goldenrod;
    display: block;
    margin: 0 auto 20px auto;
}

.profile-name {
    font-size: 2.5em;
    margin: 0;
}

#contact-heading {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
}

.bio {
    font-size: 1.5em;
    color: #555;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
    font-style: italic;
}

.contact-info {
    margin-top: 30px;
    font-size: 1.2em;
}

.contact-note {
    font-size: 1.05em;
    color: #555;
    margin-top: 25px;
    text-align: center;
    line-height: 1.6;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-btn {
    display: inline-block;
    margin: 10px 25px 10px 10px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    padding: 12px 22px 12px 58px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-out;
    background-size: 32px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.email {
    color: whitesmoke;
    background-color: #700000;
    background-image: url('https://cdn-icons-png.flaticon.com/512/732/732200.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    width: auto;

}

.phone {
    background-color: #700000;
    background-image: url('https://img.icons8.com/?size=100&id=ufkkYBXJSuPy&format=png&color=FFFFFF');
    background-repeat: no-repeat;
    background-position: 20px center;
    color: whitesmoke;
    width: auto;
}

.linkedin {
    background-color: rgba(26, 26, 117, 0.705);
    background-image: url('https://img.icons8.com/?size=100&id=kBCrQMzpQDLQ&format=png&color=FFFFFF');
    background-repeat: no-repeat;
    background-position: 20px center;
    color: whitesmoke;
    width: auto;
}

.github {
    background-color: rgba(0, 0, 0, 0.811);
    background-image: url('https://img.icons8.com/?size=100&id=LoL4bFzqmAa0&format=png&color=FFFFFF');

    background-repeat: no-repeat;
    background-position: 20px center;
    color: white;
    width: auto;
}

.contact-btn:hover {
    transform: translateX(-1px) translateY(-2px);
    box-shadow: 0 6px 14px rgba(132, 18, 18, 0.475);
}

.contact-btn:focus {
    transform: translateX(-2px) translateY(-3px);
    box-shadow: 0 6px 14px goldenrod;
    border: 3px solid goldenrod;
}

.contact-btn:active {
    transform: translateX(-2px) translateY(-3px);
    box-shadow: 0 6px 14px goldenrod;
    border: 3px solid goldenrod;
}

.skills-section {
    margin-top: 50px;
}

.skills-section>h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px 0 25px 0;
}

.skill-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-item {
    display: inline-block;
    text-align: center;
    min-width: 200px;
    background-color: darkgoldenrod;
    color: whitesmoke;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 30px;
    font-size: 1.1em;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.389) 0 3px 7px;
    position: relative;
    overflow: hidden;
    background-position: center;
}

.learning {
    color: rgba(172, 126, 11, 0.982);
    background-color: whitesmoke;
    box-shadow: goldenrod 0 3px 7px;
}

.html:hover,
.html:focus,
.css:hover,
.css:focus,
.py:hover,
.py:focus {
    background-color: black;
    color: goldenrod;
    text-shadow: white 0.5px 0.5px 2px;
    box-shadow: goldenrod 0px 0px 7px 3px;
    transform: translateY(-2px) translateX(-2px);
}

.js:hover,
.js:focus,
.fe:hover,
.fe:focus {
    background-color: whitesmoke;
    color: black;
    text-shadow: white 0.5px 0.5px 2px;
    box-shadow: 0px 0px 9px goldenrod;
    transform: translateY(-2px) translateX(-2px);
}

.projects-timeline {
    margin: 30px auto 0 auto;
    max-width: 90%;
    padding: 20px;
    box-shadow: #555 0px 0px 10px 2px;
    border-radius: 15px;
    background-color: azure;
    font-size: 1.08em;
    line-height: 1.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projects-timeline>h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px 0 25px 0;
}

.timeline-list {
    list-style-type: none;
    padding: 0;
    margin: auto 5px 50px 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.timeline-list::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 1px;
    bottom: 0;
    width: 8px;
    background: rgba(184, 135, 11, 0.627);
    opacity: 0.7;
}

.timeline-item {
    position: relative;
    padding-left: 45px;
}

.timeline-date::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 8px;
    background: darkgoldenrod;
}

.timeline-date {
    position: relative;
    display: inline-block;
    background: darkgoldenrod;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 5px;
}


footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 0 20px 0;
    font-size: 0.9em;
    color: #555;
}

footer a {
    color: darkgoldenrod;
    text-decoration: none;
    margin: 15px;
}


@media (max-width: 600px) {

    .profile-container {
        padding: 20px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }

    .profile-header h1 {
        font-size: 2em;
    }

    .bio {
        font-size: 1.2em;
    }

    .contact-btn {
        padding: 12px 20px 12px 50px;
        font-size: 0.9em;
        width: 90%;
        margin: 15px 15px 15px 15px;
    }

    .projects-timeline {
        margin-top: 30px;
        max-width: 100%;
        margin-left: 0px;
        padding: 10px;
        font-size: 1em;
    }

    .projects-timeline>h2 {
        font-size: 1.5em;
        margin: 20px 0 12px 0;
    }

    .timeline-list {
        gap: 15px;
        margin: 10px;
    }

    .skill-item {
        min-width: 40px;
        padding: 5px 8px;
        font-size: 1em;
        margin: 10px;
    }

    .timeline-list::before {
        left: 10px;
    }

    .timeline-date {
        font-size: 0.9em;
        margin-left: -15px;
    }

}
