html {
    scroll-behavior: smooth;
    scroll-padding-top: 12vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root {
    --primary-color: #b6974a;
    --secondary-color: #F0FFF0;
    --accent-color: goldenrod;
    --text-color: rgb(205, 197, 197);
    --background-color: linear-gradient(135deg,
            #111,
            #353535);
    --secondary-bg-color: #4e3e0f;
    --main-dark-bg: linear-gradient(135deg,
            #111,
            #111,
            #4e3e0f);
    --secondary-dark-bg: #f3e1a0;


    --transation-cubic: all 0.45s cubic-bezier(.71, .12, .21, .85);
}


body {
    font-family: 'Georgia', Times, serif;
    color: var(--primary-color);
    margin-top: 9.5vh;
    background: var(--background-color);
    width: 100%;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

/* ----------- container------------*/

.profile-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* ----------- Nav Bar ------------*/

/* The Base Style for DP (Centered) */
.profile-image {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid goldenrod;
    z-index: 100;
    /* Smooth Transition */
    /* Animate changes to top, left, transform, and width */
    transition: var(--transation-cubic);
}

/* The Sticky State */
body.is-scrolled .profile-image {
    position: fixed;
    top: 21px;
    left: 4vw;
    /* Reset the centering transform scalling it to 0.6 */
    transform: translateX(0) scale(0.6);
    box-shadow: 0 0 20px 5px var(--secondary-bg-color);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    height: 8.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: var(--main-dark-bg);
    padding: 20px 0;
    border-bottom: 1px solid goldenrod;
    border-radius: 0 0 0 88px;
    z-index: 99;
    transition: var(--transation-cubic);
}

.nav-title {
    display: none;
    transition: all 0.3s ease;
}

body.is-scrolled-contact .nav-title {
    display: flex;
}

body.is-scrolled-contact .nav-hidden-cont {
    display: none;
}

nav a {
    color: whitesmoke;
    padding: 0 0.2em;
    transition: var(--transation-cubic);
}

nav a:hover,
nav a:focus,
nav a:active {
    color: goldenrod;
    text-shadow: 0 0 2px gold;
    text-decoration: underline;
}

/* ----------- Header ------------*/

.profile-header {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 92vh;
    text-align: center;
    margin: 0 auto;
    background: var(--main-dark-bg);
    padding: 1em;
    border-top: 1px solid goldenrod;
    border-radius: 80px 0 0 0;
    transition: var(--transation-cubic);
}

hr {
    position: static;
    border: none;
    box-shadow: 0 0 100px 20px #4e3e0f;
    margin: 0 auto;
    width: 100%;
}

.icons-hr {
    border: none;
    box-shadow: 0 0 100px 55px darkblue;
}

/* ------------- Contact-------------- */
.contact-info {
    margin: 30px auto 0 auto;
    padding: 0;
    font-size: 1.3em;
    transition: all 0.3s ease-in-out;
    border-radius: 0 0 10px 55px;
    border-bottom: 1px solid var(--primary-color);
}

#contact-heading {
    text-align: center;
    font-size: 1.7em;
}


.contact-note {
    font-size: 1.05em;
    color: var(--text-color);
    text-align: justify;
    line-height: 1.7;
    padding: 0.5em 0.5em 1em;
}

.profile-name {
    font-size: 2em;
    font-style: oblique;
    margin: 25vh 0 0 0;
}

.profission {
    font-size: 1.2em;
    font-style: oblique;
}




.bio {
    font-size: 1.5em;
    color: whitesmoke;
    margin-top: 5px;
    text-align: justify;
    text-align-last: center;
    line-height: 1.65;
    font-style: italic;
}

.contact-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 10vh;
    position: relative;
    background: transparent;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 1.4rem;
    color: whitesmoke;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transation-cubic);
    z-index: 100;
}

body.is-scrolled-contact .icons {
    position: fixed;
    top: 10vh;
    left: 1vw;
    flex-direction: column;
    transform: translateX(0);
    gap: 30px;
}

.contacts-icons {
    font-size: 2.2rem;
    color: whitesmoke;
    transition: var(--transation-cubic);
    cursor: pointer;
}

body.is-scrolled-contact .contacts-icons {
    font-size: 2rem;
    color: goldenrod;
}

.contacts-icons:hover,
.contacts-icons:focus {
    color: golde;
    text-shadow: 0 0 20px black;
    transform: scale(1.1);
}


/* ----------- Skills ------------*/


.skills-section {
    padding: 4em 0.5em;
    color: white;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
    letter-spacing: 2px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    margin: 0 auto;
    position: relative;
}

.skill-card {
    box-sizing: border-box;
    width: 100%;
    background: #1f1f1f;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    margin: 0 auto;
}

.skill-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    position: relative;
}



.skill-header i {
    font-size: 2.5em;
    color: gold;
}

i.html,
i.css,
i.js,
i.frontend {
    color: transparent;
}

.skill-badge {
    margin-left: auto;
    background: gold;
    color: black;
    padding: 0.3em 1em;
    border-radius: 1em;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
}

.learning-badge {
    background: darkorange;
}

.skill-description {
    line-height: 1.6;
    font-size: 0.95em;
    opacity: 0.90;
}

/* =============== Floating icons =============== */

body.is-scrolled-skills-html .nav-skills {
    position: fixed;
    color: goldenrod;
    font-weight: bold;
    top: 12vh;
    left: calc(5vw + 72px + 0.5em);
    transform: translateX(0) scale(0.9) rotate(-90deg);
    z-index: 100;

}



.icon {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-color: transparent;
    transition: var(--transation-cubic);
    transform: translateX(-50%);
    opacity: 0.9;
}



body.is-scrolled-skills-html .html {
    color: goldenrod;
    position: fixed;
    top: 10.5vh;
    bottom: auto;
    left: calc(5vw + 72px + 0.5em + 35px);
    z-index: 100;
    transform: translateX(-50%) scale(0.7);
}

body.is-scrolled-skills-css .css {
    color: goldenrod;
    position: fixed;
    top: 10.5vh;
    bottom: auto;
    left: calc(5vw + 72px + 0.5em + 65px);
    z-index: 100;
    transform: translateX(-50%) scale(0.7);
}

body.is-scrolled-skills-js .js {
    color: goldenrod;
    position: fixed;
    top: 10.5vh;
    bottom: auto;
    left: calc(5vw + 72px + 0.5em + 95px);
    z-index: 100;
    transform: translateX(-50%) scale(0.7);
}

body.is-scrolled-skills-fd .frontend {
    color: goldenrod;
    position: fixed;
    top: 10.5vh;
    bottom: auto;
    left: calc(5vw + 72px + 0.5em + 135px);
    z-index: 100;
    transform: translateX(-50%) scale(0.65);
}

/* ============== Certificates ============== */

.certifications-section {
    padding: 4em 0.5em;
    color: white;
}

.certifications-grid {
    display: grid;
    gap: 2em;
}

.certificate-card {
    background: #1f1f1f;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.45s ease-in-out;
}

.certificate-card:hover {
    border-color: gold;
}


.certificate-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1em 0;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.certificate,
.project-view {
    text-decoration: none;
    display: block;
    width: fit-content;
    background: darkgoldenrod;
    color: whitesmoke;
    padding: 0.75em 1.2em;
    border-radius: 1em;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    transition: all 0.3s ease;
    cursor: pointer;
}

.certificate:hover,
.certificate:focus,
.project-view:hover,
.project-view:focus {
    background: goldenrod;
    box-shadow: 0 0 20px goldenrod;
    transform: scale(1.05);
}


/* ----------- Timeline ------------*/

.learning-journey,
.projects-section {
    margin: 60px auto 60px 15px;
    max-width: 100%;
    padding: 2em;
}

.learning-journey h2,
.projects-section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.5em;
    color: whitesmoke;
}

.learning-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.learning-item {
    padding: 1em;
    border-left: 4px solid goldenrod;
    background: #2a2a2a;
    border-radius: 8px;
    color: #ccc;
}

.learning-item.highlight {
    border-left: 4px solid orange;
    background: #1e1e1c;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}

.learning-date {
    display: block;
    font-weight: bold;
    color: rgb(242, 221, 160);
    margin-bottom: 0.5em;
}

/* ===== Projects Grid ===== */

.projects-grid {
    display: grid;
    gap: 2em;
}

.project-card {
    background: #2a2a2a;
    padding: 1.5em;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: 0.3s ease;
}

.project-card:hover {
    border-color: gold;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
}

.project-card h3 {
    color: gold;
    margin-bottom: 0.5em;
}

.project-card p {
    color: #ccc;
    margin-bottom: 1em;
}

.featured-project {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}

.featured-project::before {
    content: "CLIENT PROJECT";
    display: inline-block;
    background: darkgoldenrod;
    color: black;
    padding: 0.3em 0.8em;
    border-radius: 1em;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1em;
}

.project-links {
    display: flex;
    justify-content: space-around;
}


/* ----------- Footer ------------*/

footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    color: #ccc;
    background: var(--main-dark-bg);
    border-top: 1px solid goldenrod;
    border-radius: 45px 5px 0 0;
}

footer a {
    color: darkgoldenrod;
    text-decoration: none;
}

footer a:hover,
.project-anchor:hover {
    text-decoration: underline;
}

footer a:focus {
    text-shadow: -2px 3px 10px goldenrod;
}

/* ----------- Media Quaries ------------*/

@media (min-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1800px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width: 768px) and (orientation: landscape) {
    .custom-cursor {
        position: fixed;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        pointer-events: none;
        background: transparent;

        /* Shadow / Glow Control */
        box-shadow: 0 0 50px 10px rgba(255, 215, 0, 0.8);
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    .certifications-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
    }

    .learning-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

}
