html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root {

    transition: var(--transation-cubic);
    --primary-color: #b6974a;
    --secondary-color: #F0FFF0;
    --accent-color: goldenrod;
    --text-color: rgb(205, 197, 197);
    --background-color: linear-gradient(135deg,
            #111,
            #353535);
    --secondary-bg-color: #4e3e0f;
    --main-dark-bg: linear-gradient(135deg,
            #111,
            #111,
            #4e3e0f);
    --secondary-dark-bg: #f3e1a0;


    --transation-cubic: all 0.45s cubic-bezier(.71, .12, .21, .85);
}


body {
    font-family: 'Georgia', Times, serif;
    color: var(--primary-color);
    margin-top: 9.5vh;
    background: var(--background-color);
    width: 100%;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

/* ----------- container------------*/

.profile-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* ----------- Nav Bar ------------*/

/* The Base Style for DP (Centered) */
.profile-image {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid goldenrod;
    z-index: 100;
    /* Smooth Transition */
    /* Animate changes to top, left, transform, and width */
    transition: var(--transation-cubic);
}

/* The Sticky State */
body.is-scrolled .profile-image {
    position: fixed;
    top: 21px;
    left: 4vw;
    /* Reset the centering transform scalling it to 0.6 */
    transform: translateX(0) scale(0.6);
    box-shadow: 0 0 20px 5px var(--secondary-bg-color);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: var(--main-dark-bg);
    padding: 20px 0;
    border-bottom: 1px solid goldenrod;
    border-radius: 0 0 0 88px;
    z-index: 99;
    transition: var(--transation-cubic);
}

.nav-title {
    display: none;
    transition: all 0.3s ease;
}

body.is-scrolled-contact .nav-title {
    display: flex;
}

body.is-scrolled-contact .nav-hidden-cont {
    display: none;
}

nav a {
    color: whitesmoke;
    padding: 0 0.2em;
    transition: var(--transation-cubic);
}

nav a:hover,
nav a:focus {
    color: goldenrod;
    text-shadow: 0 0 2px gold;
    text-decoration: underline;
}

/* ----------- Header ------------*/

.profile-header {
    position: relative;
    width: 100%;
    height: 92vh;
    text-align: center;
    margin: 0 auto;
    background: var(--main-dark-bg);
    padding: 1em;
    border-top: 1px solid goldenrod;
    border-radius: 80px 0 0 0;
    transition: var(--transation-cubic);
}

hr {
    position: static;
    border: none;
    box-shadow: 0 0 100px 20px #4e3e0f;
    margin: 0 auto;
    width: 100%;
}

.icons-hr {
    border: none;
    box-shadow: 0 0 100px 55px darkblue;
}

/* ------------- Contact-------------- */
.contact-info {
    margin: 30px auto 0 auto;
    padding: 0;
    font-size: 1.3em;
    transition: all 0.3s ease-in-out;
    border-radius: 0 0 10px 55px;
    border-bottom: 1px solid var(--primary-color);
}

#contact-heading {
    text-align: center;
    font-size: 1.7em;
}


.contact-note {
    font-size: 1.05em;
    color: var(--text-color);
    text-align: justify;
    line-height: 1.7;
    padding: 0.5em 0.5em 1em;
}

.profile-name {
    font-size: 2em;
    font-style: oblique;
    margin: 25vh 0 0 0;
}

.profission {
    font-size: 1.2em;
    font-style: oblique;
}




.bio {
    font-size: 1.5em;
    color: whitesmoke;
    margin-top: 5px;
    text-align: justify;
    text-align-last: center;
    line-height: 1.65;
    font-style: italic;
}

.contact-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 10vh;
    position: relative;
    background: transparent;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 1.4rem;
    color: whitesmoke;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transation-cubic);
    z-index: 100;
}

body.is-scrolled-contact .icons {
    position: fixed;
    top: 10vh;
    left: 1vw;
    flex-direction: column;
    transform: translateX(0);
    gap: 30px;
}

.contacts-icons {
    font-size: 2.2rem;
    color: whitesmoke;
    transition: var(--transation-cubic);
    cursor: pointer;
}

body.is-scrolled-contact .contacts-icons {
    font-size: 2rem;
    color: goldenrod;
}

.contacts-icons:hover,
.contacts-icons:focus,
.contacts-icons:active {
    color: goldenrod;
    text-shadow: 0 0 20px black;
    transform: scale(1.1);
}


/* ----------- Skills ------------*/


.skills-section {
    padding: 4em 0.5em;
    color: white;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
    letter-spacing: 2px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    margin: 0 auto;
    position: relative;
}

.skill-card {
    box-sizing: border-box;
    width: 100%;
    background: #1f1f1f;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    margin: 0 auto;
}

.skill-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    position: relative;
}


.skill-header h3 {
    margin-left: 1em;
}

.skill-header i {
    font-size: 2.5em;
    color: gold;
}

.skill-badge {
    margin-left: auto;
    background: gold;
    color: black;
    padding: 0.3em 1em;
    border-radius: 1em;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
}

.learning-badge {
    background: darkorange;
}

.skill-description {
    line-height: 1.6;
    font-size: 0.95em;
    opacity: 0.90;
}

/* =============== Floating icons =============== */

body.is-scrolled-skills-html .nav-skills {
    position: absolute;
    color: goldenrod;
    top: 10vh;
    left: 115px;
    transform: translateX(0);
    z-index: 100;
}



.icon {
    transition: var(--transation-cubic);
    transform: translateX(50%);
}



body.is-scrolled-skills-html .html {
    color: goldenrod;
    position: fixed;
    top: 12vh;
    bottom: auto;
    left: 130px;
    z-index: 100;
    transform: translateX(-50%) scale(0.8);
}

body.is-scrolled-skills-css .css {
    color: goldenrod;
    position: fixed;
    top: 12vh;
    bottom: auto;
    left: 165px;
    z-index: 100;
    transform: translateX(-50%) scale(0.7);
}

body.is-scrolled-skills-js .js {
    color: goldenrod;
    position: fixed;
    top: 12vh;
    bottom: auto;
    left: 200px;
    z-index: 100;
    transform: translateX(-50%) scale(0.7);
}

body.is-scrolled-skills-fd .frontend {
    color: goldenrod;
    position: fixed;
    top: 12vh;
    bottom: auto;
    left: 235px;
    z-index: 100;
    transform: translateX(-50%) scale(0.6);
}



/* ----------- Time line ------------*/

.projects-timeline {
    margin: 30px auto 0 auto;
    max-width: 90%;
    padding: 20px;
    box-shadow: -3px 3px 20px 5px #555;
    border-radius: 15px;
    background-color: azure;
    font-size: 1.08em;
    line-height: 1.8;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.projects-timeline h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px 0 25px 0;
}

.timeline-list {
    list-style-type: none;
    padding: 0;
    margin: auto 5px 50px 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.timeline-list::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 1px;
    bottom: 0;
    width: 8px;
    background: rgba(184, 135, 11, 0.627);
    opacity: 0.7;
}

.timeline-item {
    position: relative;
    padding-left: 45px;
}

.timeline-date::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 8px;
    background: darkgoldenrod;
}

.timeline-date {
    position: relative;
    display: inline-block;
    background: darkgoldenrod;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 5px;
}

.new-project {
    background-color: #f3e1a0;
    margin-left: 1.6em;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 5px 25px goldenrod;
    color: #4b2e00;
}

.new-project .timeline-date {
    box-shadow: -3px 5px 5px azure;
}

.project-anchor {
    color: rgb(163, 124, 15);
    text-decoration: none;
}

.project-view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto 8px auto;
    width: fit-content;
    padding: 0.3em 1.5em;
    border-radius: 15px;
    box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.3);
    background-color: darkgoldenrod;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.project-view:hover,
.project-view:focus,
.project-view:active {
    box-shadow: -2px 2px 20px goldenrod;
    background-color: goldenrod;
    transform: scale(1.1);
}


/* ----------- Footer ------------*/

footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 0 20px 0;
    font-size: 0.9em;
    color: #555;
}

footer a {
    color: darkgoldenrod;
    text-decoration: none;
    margin: 15px;
}

footer a:hover,
.project-anchor:hover {
    text-decoration: underline;
}

footer a:focus {
    text-shadow: -2px 3px 10px goldenrod;
}

/* ----------- Media Quary ------------*/

/*
@media (max-width: 650px) {

    .profile-container {
        padding: 20px;
        max-width: 300px;
    }

    .profile-image {
        width: 90px;
        height: 90px;
    }

    .profile-header h1 {
        font-size: 2em;
    }

    .bio {
        font-size: 1.2em;
    }

    .contact-btn {
        display: flex;
        flex-wrap: wrap;
        padding: 20px auto;
        font-size: 0.9em;
        gap: 20px;
    }

    .projects-timeline {
        margin-top: 30px;
        max-width: 100%;
        margin-left: 0px;
        padding: 10px;
        font-size: 1em;
    }

    .projects-timeline>h2 {
        font-size: 1.5em;
        margin: 20px 0 12px 0;
    }

    .timeline-list {
        gap: 15px;
        margin: 10px;
    }

    .skill-item {
        min-width: 40px;
        padding: 5px 8px;
        font-size: 1em;
        margin: 10px;
    }

    .timeline-list::before {
        left: 10px;
    }

    .timeline-date {
        font-size: 0.9em;
        margin-left: -15px;
    }

    .new-project {
        background-color: #f3e1a0;
        background-color: color-mix(in srgb, gray 5%, gold 20%);
        margin-left: 1em;
        padding: 0.6em;
        border-radius: 0 10px 10px 0;
        box-shadow: 3px 3px 10px goldenrod;
        color: #4b2e00;
    }

    .new-project .timeline-date {
        margin-left: 5px;
    }

    .project-view {
        padding: 0.15em 0.6em;
        border-radius: 8px;
    }

} */

@media (min-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .custom-cursor {
        position: fixed;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        pointer-events: none;
        background: transparent;

        /* Shadow / Glow Control */
        box-shadow: 0 0 50px 10px rgba(255, 215, 0, 0.8);
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
}

@media (min-width: 1800px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

