body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F0FFF0;
    color: #8B4513;
    margin: 0;


}

html {
    scroll-behavior: smooth;
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    box-shadow: #555 0px 0px 10px 2px;
    border-radius: 22.5px;
    transition: all 0.3s ease-in-out;
}

.profile-header {
    text-align: center;
    margin-bottom: 50px;

}

.profile-header h1 {
    font-size: 2.8em;
    margin-top: 50px;

}

.profile-image {
    width: 300px;
    height: 300px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid goldenrod;
    display: block;
    margin: 0 auto 20px auto;
}

.profile-name {
    font-size: 2.5em;
    margin: 0;
}

#contact-heading {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
}

.bio {
    font-size: 1.5em;
    color: #555;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
    font-style: italic;
}

.contact-info {
    margin-top: 30px;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}

.contact-note {
    font-size: 1.05em;
    color: #555;
    margin-top: 25px;
    text-align: center;
    line-height: 1.6;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-btn {
    display: block;
    font-size: 1em;
    text-decoration: none;
    border-radius: 32px;
    text-align: center;
    padding: 12px 15px 10px 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-out;
    background-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

.email {
    color: whitesmoke;
    background-color: #700000;
    background-image: url('https://cdn-icons-png.flaticon.com/512/732/732200.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    width: auto;

}

.phone {
    background-color: #700000;
    background-image: url('https://img.icons8.com/?size=100&id=ufkkYBXJSuPy&format=png&color=FFFFFF');
    background-repeat: no-repeat;
    background-position: 10px center;
    color: whitesmoke;
    width: auto;
}

.linkedin {
    background-color: rgba(26, 26, 117, 0.705);
    background-image: url('https://img.icons8.com/?size=100&id=kBCrQMzpQDLQ&format=png&color=FFFFFF');
    background-repeat: no-repeat;
    background-position: 10px center;
    color: whitesmoke;
    width: auto;
}

.github {
    background-color: rgba(0, 0, 0, 0.811);
    background-image: url('https://img.icons8.com/?size=100&id=LoL4bFzqmAa0&format=png&color=FFFFFF');

    background-repeat: no-repeat;
    background-position: 10px center;
    color: white;
    width: auto;
}

.contact-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 14px rgba(132, 18, 18, 0.475);
}

.contact-btn:focus,
.project-anchor:focus {
    transform: scale(1.1);
    box-shadow: 0 6px 14px goldenrod;
    border: 1px solid goldenrod;
}

.contact-btn:active,
.project-anchor:active {
    transform: translateX(-2px) translateY(-3px);
    box-shadow: 0 6px 14px goldenrod;
    border: 1px solid goldenrod;
}

.skills-section {
    margin-top: 50px;
}

.skills-section>h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px 0 25px 0;
}

.skill-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-item {
    display: inline-block;
    text-align: center;
    min-width: 200px;
    background-color: darkgoldenrod;
    color: whitesmoke;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 30px;
    font-size: 1.1em;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.389) 0 3px 7px;
    position: relative;
    overflow: hidden;
    background-position: center;
    transition: all 0.3s ease-in-out;
}

.learning {
    color: rgba(172, 126, 11, 0.982);
    background-color: whitesmoke;
    box-shadow: goldenrod 0 3px 7px;
}

.current:hover,
.current:focus {
    background-color: azure;
    color: goldenrod;
    text-shadow: white 0.5px 0.5px 2px;
    box-shadow: goldenrod 0px 0px 7px 3px;
    transform: translateY(-2px) translateX(-2px);
}

.learning:hover,
.learning:focus {
    background-color: azure;
    color: black;
    text-shadow: white 0.5px 0.5px 2px;
    box-shadow: 0px 0px 9px goldenrod;
    transform: translateX(-2px);
}

.projects-timeline {
    margin: 30px auto 0 auto;
    max-width: 90%;
    padding: 20px;
    box-shadow: -3px 3px 20px 5px #555;
    border-radius: 15px;
    background-color: azure;
    font-size: 1.08em;
    line-height: 1.8;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.projects-timeline>h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px 0 25px 0;
}

.timeline-list {
    list-style-type: none;
    padding: 0;
    margin: auto 5px 50px 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.timeline-list::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 1px;
    bottom: 0;
    width: 8px;
    background: rgba(184, 135, 11, 0.627);
    opacity: 0.7;
}

.timeline-item {
    position: relative;
    padding-left: 45px;
}

.timeline-date::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 8px;
    background: darkgoldenrod;
}

.timeline-date {
    position: relative;
    display: inline-block;
    background: darkgoldenrod;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 5px;
}

.new-project {
    background-color: #f3e1a0;
    background-color: color-mix(in srgb, gray 5%, gold 20%);
    margin-left: 1.6em;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 5px 25px goldenrod;
    color: #4b2e00;
}

.new-project .timeline-date {
    box-shadow: -3px 5px 5px azure;
}

.project-anchor {
    color: rgb(163, 124, 15);
    text-decoration: none;
}

.project-view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto 8px auto;
    width: fit-content;
    padding: 0.3em 1.5em;
    border-radius: 15px;
    box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.3);
    background-color: darkgoldenrod;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.project-view:hover,
.project-view:focus,
.project-view:active {
    box-shadow: -2px 2px 20px goldenrod;
    background-color: goldenrod;
    transform: scale(1.1);
}


footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 0 20px 0;
    font-size: 0.9em;
    color: #555;
}

footer a {
    color: darkgoldenrod;
    text-decoration: none;
    margin: 15px;
}

footer a:hover,
.project-anchor:hover {
    text-decoration: underline;
}

footer a:focus {
    text-shadow: -2px 3px 10px goldenrod;
}


@media (max-width: 650px) {

    .profile-container {
        padding: 20px;
        max-width: 300px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }

    .profile-header h1 {
        font-size: 2em;
    }

    .bio {
        font-size: 1.2em;
    }

    .contact-btn {
        display: flex;
        flex-wrap: wrap;
        padding: 20px auto;
        font-size: 0.9em;
        gap: 20px;
    }

    .projects-timeline {
        margin-top: 30px;
        max-width: 100%;
        margin-left: 0px;
        padding: 10px;
        font-size: 1em;
    }

    .projects-timeline>h2 {
        font-size: 1.5em;
        margin: 20px 0 12px 0;
    }

    .timeline-list {
        gap: 15px;
        margin: 10px;
    }

    .skill-item {
        min-width: 40px;
        padding: 5px 8px;
        font-size: 1em;
        margin: 10px;
    }

    .timeline-list::before {
        left: 10px;
    }

    .timeline-date {
        font-size: 0.9em;
        margin-left: -15px;
    }

    .new-project {
        background-color: #f3e1a0;
        background-color: color-mix(in srgb, gray 5%, gold 20%);
        margin-left: 1em;
        padding: 0.6em;
        border-radius: 0 10px 10px 0;
        box-shadow: 3px 3px 10px goldenrod;
        color: #4b2e00;
    }

    .new-project .timeline-date {
        margin-left: 5px;
    }

    .project-view {
        padding: 0.15em 0.6em;
        border-radius: 8px;
    }

}
